{% extends 'base.html' %}

{% block body %}

<section id="form" style="margin-top: auto;">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
               <p>Reset password</p>
               <p>A instruction mail has been sent to your mail for reset password</p>
            <div class="col-sm-4"></div>
            <!--/sign up form-->
        </div>
    </div>
</section>
<!--/form-->

{% endblock %}