{% extends 'base.html' %}

{% block body %}

<section id="form" style="margin-top: auto;">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
               <p>Password has been changed!</p>
               <p>You may go ahead and login now</p>
               <a href="{% url 'login' %}" class="btn btn-default">Login</a>
            </div>
            <div class="col-sm-4"></div>
            <!--/sign up form-->
        </div>
    </div>
</section>
<!--/form-->

{% endblock %}